.c-logo{
    height: 60px;
}
.c1-css{
    background: #1b8ff8 !important;
    color: white;
}
.t-j{
    text-align: justify;
}
.c2-css{
    background: #e8fcf1 !important;
}
.c3-css{
    background: #e9f4fe !important;
}
.s-25{
    height: 60px;
    border-radius: 10px;
}
.icon-color img{
    color:rgb(10, 104, 104);
}
.card:hover i{
    transform: rotate(360deg);
    transition: transform .5s ease-in-out;
    color: rgb(236, 216, 28);
}
.own-shadow {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    cursor: pointer;
}
.card:hover h5, .card:hover p{
    color: rgb(216, 118, 27);
}