.c-logo{
    height: 60px;
}
.c1-css{
    background: #1b8ff8 !important;
    color: white;
}
.t-j{
    text-align: justify;
}
.c2-css{
    background: #e8fcf1 !important;
}
.c3-css{
    background: #e9f4fe !important;
}
.s-25{
    height: 60px;
    border-radius: 10px;
}